.dark-theme {
    body {
        background-color: #222;
       color: #ddd;
       }
       
       .navbar, .footer, .navlist {
        background-color: #333;
        color: #eee;
       }
       
       .navbar-brand > .navbar-nav > .nav-item > .nav-link {
           color: #eee;
       }
       nav {
        color: #ddd;
       }
    
    .container > .header, .links {
        color:#eee;
    }
    .row > .col > a {
        color: #eee;
    }

    .fullpage {
        background-color: #222;
    }
    
}

.fullpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
  }
  .navbar-light > .navbar-brand > .navbar-nav > .nav-item > .nav-link {
    color: rgba(0, 0, 0, .8);
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .8);
  }

.container  {
    padding-bottom: 30px;
    align-items: flex-start;

}

.header{
    position: absolute;
    top: 150px;
    left: 200px;
}

.form {
    width: 500px;
    padding: 6px;
    position: absolute;
    left: 1000px;
}
input,
textarea {
    width: 100%;
    padding: 6px;
    margin: 6px 0px;
}
#btn{
    width: 150px;
    padding: 6px;
    cursor: pointer;
}

.icon1 {
    max-width: 80px;
    margin-bottom: 25px;
    margin-top: 25px;
    position: absolute;
    left: 292px;
    top: 200px;
}
.icon2 {
    max-width: 75px;
    margin-bottom: 25px;
    margin-top: 25px;
    position: absolute;
    left: 295px;
    top: 325px;
}
.icon3 {
    max-width: 130px;
    margin-bottom: 25px;
    margin-top: 25px;
    position: absolute;
    left: 268px;
    top: 450px;
}
.icon4 {
    max-width: 114px;
    margin-bottom: 25px;
    margin-top: 25px;
    position: absolute;
    left: 278px;
    top: 600px;
}

.label1 {
    position: absolute;
    font-size: 20px;
    top: 250px;
    left: 400px;
    font-weight: 600;
}

.label2 {
    position: absolute;
    font-size: 20px;
    top: 375px;
    left: 400px;
    font-weight: 600;
}

.label3 {
    position: absolute;
    font-size: 20px;
    top: 505px;
    left: 400px;
    font-weight: 600;
}

.label4 {
    position: absolute;
    font-size: 20px;
    top: 660px;
    left: 400px;
    font-weight: 600;
}