

.dark-theme {
  body {
    background-color: #222;
    color: #ddd;
  }

  .navbar, .footer, .navlist {
    background-color: #333;
    color: #eee;
  }

  .navbar-brand > .navbar-nav > .nav-item > .nav-link {
    color: #eee;
  }
  .content {
    background-color: #222;
    color: #ddd;
  }

  #whoami h1 {
    color: #ddd;
  }
  .fullpage {
    background-color: #222;
  }
  nav {
    color: #ddd;
  }
}
.dark-theme-toggle {
  display: flex;
  position: absolute;
  left: 1800;
  top: 1000;
}
.fullpage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}
.navbar-light > .navbar-brand > .navbar-nav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, .8);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .8);
}
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.footer {
  padding: 20px 0;
  background-color: #f2f2f2;
}

.footer-headshot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.nav-link {
  font-size: 30px;
  color: rgba(0, 0, 0, .8);
}
.nav-item {
  margin-right: 40px;
}
.container > p  {
  font-size: 30px;
}

.ml-3 {
  margin-left: 3px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mt-3 {
  margin-top: 30px;
}


.footer a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  min-height: 100vh;
  margin-top: auto;
}

.footer a:hover {
  color: #007bff;
}

nav {
  margin-bottom: 15px;
  color: #222;
}

#headshot {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}
.footer {
  margin-top: auto;
}
